body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.header h1 {
  flex-grow: 1;
  text-align: center;
  color: #343a40;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 100%;
  max-width: 600px;
}

.form-group {
  width: 48%;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* CSS */
.add-property-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-property-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.add-property-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.properties-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.property-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 400px;
  flex: 1 0 300px;
}

.property-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.property-card p {
  margin: 10px 0;
  color: #343a40;
}

@media (min-width: 768px) {
  .form-container {
    flex-direction: row;
  }

  .form-group {
    width: 48%;
  }
}
